extends layout

block main-content
    h1.page-title #{title} us
    #about_detail
        img(src="Image/hobbies.jpg" alt="Image" height="300" width="300" id="about-image")
        //- resource from- https://www.jobs.ca/content/uploads/2017/01/Hobbies-in-your-resume-900x700.jpg
        p Welcome to our platform, where turning your hobby into a business is just a click away. Our mission is to empower individuals like you to unlock their earning potential without sacrificing their passion. By joining our community of like-minded sellers, you will have the opportunity to work on your hobby and earn money doing what you love. We believe that everyone deserves the chance to turn their passion into a profitable venture, and we are here to help make that a reality.
    h2.about_sign-up Start your own business Today. Sign up to be Seller.
