extends layout

block main-content
    div#container-wrapper
        div#intro
            h1 Welcome to HobbyHives! 
            p "Unlock your earning potential by turning your hobby into a business. Get the value you deserve without sacrificing your passion. Join our community of like-minded sellers who work on their hobby and earn money doing what they love."
            img(src="./Image/intro.jpg" width="200" height="200" class="index_img")
            //- resouce from-https://www.business2community.com/wp-content/uploads/2015/09/shutterstock_281203025-300x300.jpg-300x300.jpg
            p You can buy and sell service with us. To GET a work for you sign up your self and put details. to Give a work select the service you are looking for and direct communicate with person.
        #hives 
            h2 Hives
            .adcard
                img(src="./Image/auto.jpeg" width="200" height="150" class="index_img")
                //- source from https://www.iheartradio.ca/newstalk-1010/news/no-dad-it-s-not-time-to-take-off-my-winter-tires-1.2439752
                h3 Change winter tire
                h4 Hamilton, Ontario
                p Hello, I am passionate about auto-mobile work. and I can come to house with in 15km and change your tires.
                p Price: 30$




    